@model SuperHeroCreator.Models.SuperHero

@{
    ViewData["Title"] = "Delete";
}
<br>
<div class="contatiner" style="height: 300px;">
    <div class="jumbotron jumbotronImage">
        <h4 class="display-4 text-center text-white">Delete</h4>
        <p class="lead text-center text-light">Are you sure you want to delete?</p>
        <p class="text-center align-content-center">
            <a asp-action="Index" class="btn btn-primary text-light">Back to List</a>
        </p>
    </div>
</div>

<body-data_table>
<div class="container backgroundColorGray align-content-center text-light">
    <br>
    <dl class="data_table align-content-center">
        <dt>@Html.DisplayNameFor(model => model.Name) :</dt>
        <dd>@Html.DisplayFor(model => model.Name) </dd>
        <dt>@Html.DisplayNameFor(model => model.AlterEgoName):</dt>
        <dd>@Html.DisplayFor(model => model.AlterEgoName)</dd>
        <dt>@Html.DisplayNameFor(model => model.PrimaryAbility):</dt>
        <dd>@Html.DisplayFor(model => model.PrimaryAbility)</dd>
        <dt>@Html.DisplayNameFor(model => model.SecondaryAbility):</dt>
        <dd>@Html.DisplayFor(model => model.SecondaryAbility)</dd>
        <dt>@Html.DisplayNameFor(model => model.Catchphrase):</dt>
        <dd>@Html.DisplayFor(model => model.Catchphrase)</dd>
    </dl>
    <div class="text-center align-content-center">
        <form asp-action="Delete" class="align-content-center">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
    <br>
</div>
</body-data_table>
















