@model SuperHeroCreator.Models.SuperHero

@{
    ViewData["Title"] = "Details";
}
<br>
<div class="contatiner" style="height: 300px;">
    <div class="jumbotron jumbotronImage">
        <h4 class="display-4 text-center text-white">Superhero</h4>
        <h6 class="display-4 text-center text-white">Details</h6>
        <hr class="my-4">
    </div>
</div>

<body-data_table>
    <div class="container backgroundColorGray align-content-center text-light">
        <br>
        <dl class="data_table align-content-center">
            <dt>@Html.DisplayNameFor(model => model.Name) :</dt>
            <dd>@Html.DisplayFor(model => model.Name) </dd>
            <dt>@Html.DisplayNameFor(model => model.AlterEgoName):</dt>
            <dd>@Html.DisplayFor(model => model.AlterEgoName)</dd>
            <dt>@Html.DisplayNameFor(model => model.PrimaryAbility):</dt>
            <dd>@Html.DisplayFor(model => model.PrimaryAbility)</dd>
            <dt>@Html.DisplayNameFor(model => model.SecondaryAbility):</dt>
            <dd>@Html.DisplayFor(model => model.SecondaryAbility)</dd>
            <dt>@Html.DisplayNameFor(model => model.Catchphrase):</dt>
            <dd>@Html.DisplayFor(model => model.Catchphrase)</dd>
        </dl>
        <p class="text-center align-content-center">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary text-light">Edit</a><br>
        </p>
        <p class="text-center align-content-center">
            <a asp-action="Index" class="text-light">Back to List</a>
        </p>
        <br>
</div>
    

