@model IEnumerable<SuperHeroCreator.Models.SuperHero>

@{
    ViewData["Title"] = "Index";
}
<br>
<div class="contatiner" style="height: 300px;">
    <div class="jumbotron jumbotronImage">
        <h4 class="display-4 text-center text-light">Superheros</h4>
        <hr class="my-4">
        <p class="lead text-center text-light">Click on Superhero name for details.</p>
        <p class="text-center align-content-center">
        <a asp-action="Create" class="btn btn-primary text-light">Create New Superhero</a>
        </p>
    </div>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlterEgoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catchphrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>*@
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlterEgoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryAbility)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondaryAbility)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Catchphrase)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


